:root {
  --fontSize-XS: 13.5px;
  --lineHeight-XS: 16.2px;
  --letterSpacing-XS: 0.27px;

  --fontSize-S: 20px;
  --lineHeight-S: 25px;
  --letterSpacing-S: -0.5px;

  --fontSize-M: 34.425px;
  --lineHeight-M: 39px;
  --letterSpacing-M: -0.8px;

  --fontSize-L: 66.5px;
  --lineHeight-L: 75px;
  --letterSpacing-L: -2.45px;
  --wordSpacing-L: -6px;

  --space-XS: 7px;
  --space-S: 15px;
  --space-M: 30px;
  --space-L: 60px;
  --space-XL: 120px;

  --primary: #c4ff00;
  --grey: #979797ed;
  --offWhite: #fffffff1;
  --black: #1a1a1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MJH-Regular";
  src: url("../../../public/fonts/MJH-100-Regular.otf");
}

@font-face {
  font-family: "MJH-Medium";
  src: url("../../../public/fonts/MJH-160-Medium.otf");
}

::selection {
  background: var(--primary);
  color: inherit;
}

html,
body {
  max-width: 100vw;
  font-family: "MJH-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
  background: var(--black);
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  word-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  letter-spacing: var(--letterSpacing-L);
}

h2 {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  letter-spacing: var(--letterSpacing-M);
}

button {
  all: unset;
}
.clickable {
  cursor: pointer !important;
}

.navWrapper {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  letter-spacing: var(--letterSpacing-L);
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: var(--space-S);
  transition: transform 0.5s ease-in-out;
}

.navWrapper a {
  margin-right: var(--space-S);
  opacity: 0.4;
}

.navWrapper a:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.navWrapper.hidden {
  transform: translateY(-100%);
  pointer-events: none; /* Optional: Prevents interaction when hidden */
}

.navWrapper.visible {
  transform: translateY(0%);
}

.homeEntriesWrapper {
  margin-bottom: var(--space-XL);
  min-height: 100vh;
}

.homeEntryWrapper {
  width: 100vw;
}
.footerHomeWrapper {
  padding: var(--space-S);
}
.previewText {
  padding: var(--space-S);
}

.quadWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.quadInner {
  width: 50%;
  height: 50%;
  position: relative;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.videoInfos {
  position: sticky;
  z-index: 100;
  bottom: var(--space-S);
  padding-left: var(--space-S);
  transition: opacity 0.2s ease;
  cursor: default;
}

.videoInfos a {
  display: flex;
}

.refAnchor {
  transform: translateY(-100px);
}

.videoTitle {
  cursor: pointer;
  height: 37px;
  display: flex;
  align-items: flex-start;
}

.videoTitle:hover {
  color: var(--primary);
}

.videoTitle:hover .videoIcon {
  background-color: var(--primary); /* Change this to your desired color */
}

.videoIcon {
  background: white;
  padding: 0px 20px;
  transform: translateY(2px);
  margin-left: 10px;
  border-radius: 30px;
  color: grey;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeLink {
  opacity: 1 !important;
}

.embedContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 (or adjust as needed) */
}

.embedContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed100vh {
  /* height: 100vh; */
}

.imageWrapper {
  width: 100%;
  height: 100%;
}

.imageWrapper img {
  position: relative;
}

.videoSingleWrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}

.videoSingleHeadline {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
}

.videoSingleIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.videoSingleIntroText {
  margin-top: 50px;
  max-width: 1100px;
  margin-bottom: 200px;
}

.videoSingleInfo {
  padding-top: var(--space-XS);
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  max-width: 1100px;
}

.videoSingleInfo p {
  max-width: 400px;
}

.videoSingleInfoblock {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.videoSingleInfoblockInner {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.videoSingleInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.videoSingleInfoblockRow {
  width: 50%;
  display: flex;
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.videoSingleInfoblockRow div {
  width: 33%;
  padding-left: 14px;
}

.videoHeader {
  position: fixed;
  top: 0;
  z-index: 0;
  font-size: 200px;
  height: 100vh;
  width: 100vw;
}

.videoSingleVideos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videoSingleVideo {
  width: 100%;
  max-width: 1100px;
}

.videoSingleContent {
  background: white;
  color: var(--grey);
  margin-top: clamp(500px, 70vh, 1000px);
  width: 100vw;
  min-height: 500px;
  position: relative;
  padding: var(--space-M);
  z-index: 1;
}

.videoSingleText {
  padding-top: 200px;
  column-count: 2;
  column-span: none;
  text-indent: 4em;
  margin-bottom: 1.5em;
}

.videoSingleImagesDescription {
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
}

.videoSingleImages {
  width: 100%;
}

.videoSingleSlide {
  width: auto !important;
}

.videoSingleImageWrapper {
  width: auto;
  position: relative;
  display: flex;
}

.videoSingleSlide img {
  height: 100%;
  width: auto;
}

.buttonsWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: var(--space-S);
  z-index: 100;
  flex-wrap: wrap;
  gap: 4px;
}

.button {
  color: var(--grey);
  background: var(--offWhite);
  backdrop-filter: blur(10px);
  border: 0.5px solid;
  padding: 2px 15px;
  border-radius: 30px;
  font-size: var(--fontSize-XS);
  cursor: pointer;
  mix-blend-mode: difference;
}

.button:hover {
  background: var(--grey);
  color: white;
  border-color: var(--grey);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.active {
  background: var(--grey);
  color: white;
  border-color: var(--grey);
  pointer-events: none;
}

.footerWrapper {
  margin-top: var(--space-M);
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerWrapper span {
  margin-right: var(--space-S);
}

.infoWrapper {
  background: rgb(0, 89, 255);
  color: white;
  padding: 250px var(--space-S) var(--space-S);
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  word-spacing: var(--wordSpacing-S);
  min-height: 100vh;

  width: 100%;
}

.infoInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoInner h2,
.infoInner h3 {
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  word-spacing: var(--wordSpacing-S);
  opacity: 0.5;
  width: 100%;
  text-align: center;
}

.infosection {
  max-width: 1100px;
  min-height: 100vh;
}

.infoSectionText {
  margin-bottom: 100px;
}

.personenWrapper {
  margin-top: var(--space-S);
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  margin-bottom: var(--space-XL);
  word-spacing: -1.6px;
}

.personenWrapper ul {
  width: 100%;
}

.personenWrapper li {
  width: 100%;
  display: flex;
  gap: 10px;
}

.personenWrapper li span {
  width: 50%;
}

.personenWrapperLinks li a {
  text-align: center;
  width: 100%;
}
.listLeft {
  text-align: right;
  width: 100%;
  opacity: 0.5;
}

.personenWrapper li {
  list-style-type: none;
}

.personenWrapper ul {
  margin-bottom: var(--space-M);
}
.impressum {
  padding: var(--space-S);
  padding-top: var(--space-XL);
  margin-bottom: var(--space-L);
  color: var(--grey)
}

.impressum p {
  margin-bottom: 1rem;
  max-width: 1000px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  :root {
    --fontSize-XS: 12px;
    --lineHeight-XS: 15px;
    --letterSpacing-XS: 0.2px;

    --fontSize-S: 16px;
    --lineHeight-S: 22px;
    --letterSpacing-S: -0.3px;

    --fontSize-M: 24px;
    --lineHeight-M: 28px;
    --letterSpacing-M: -0.5px;

    --fontSize-L: 36px;
    --lineHeight-L: 42px;
    --letterSpacing-L: -1.2px;
    --wordSpacing-L: -3px;

    --space-XS: 5px;
    --space-S: 10px;
    --space-M: 20px;
    --space-L: 40px;
    --space-XL: 80px;
  }

  body {
    font-size: var(--fontSize-S);
    line-height: var(--lineHeight-S);
    letter-spacing: var(--letterSpacing-S);
    word-spacing: -1px;
  }

  h1 {
    font-size: var(--fontSize-L);
    line-height: var(--lineHeight-L);
    letter-spacing: var(--letterSpacing-L);
  }

  h2 {
    font-size: var(--fontSize-M);
    line-height: var(--lineHeight-M);
    letter-spacing: var(--letterSpacing-M);
  }

  .navWrapper {
    font-size: var(--fontSize-M);
    padding-left: var(--space-XS);
  }

  .quadInner {
    width: 100%;
    height: 50%;
  }

  .videoTitle {
    font-size: var(--fontSize-S);
    line-height: 1.2em;
    letter-spacing: var(--letterSpacing-S);
    justify-content: space-between;
    width: 100%;
    padding: var(--space-XS);
  }

  .homeEntryWrapper {
    padding-bottom: var(--space-S);
  }

  .videoSingleText {
    column-count: 1;
    padding-top: 100px;
    text-indent: 2em;
    margin-bottom: 1em;
  }

  .videoSingleContent {
    padding: var(--space-M);
    margin-top: clamp(300px, 50vh, 500px);
  }

  .videoSingleInfoblockRow {
    width: 100%;
    flex-direction: column;
  }

  .videoSingleInfoblockRow div {
    width: 100%;
    padding-left: 0;
    margin-bottom: var(--space-XS);
  }

  .personenWrapperLinks li a {
    font-size: var(--fontSize-S);
  }

  .infoWrapper {
    padding: 150px var(--space-S) var(--space-S);
    font-size: var(--fontSize-S);
    line-height: var(--lineHeight-S);
  }

  .infoInner h2,
  .infoInner h3 {
    font-size: var(--fontSize-S);
  }

  .embed100vh {
    height: unset;
  }
  .footerWrapper {
    padding-bottom: 40px;
  }
  .navWrapper {
    bottom: 0;
    top: unset;
    width: 100%;
    justify-content: center;
    display: flex;
    background: white;
    filter: drop-shadow(4px 4px 4px rgb(192, 192, 192));
    color: var(--grey);
  }
  .navWrapper.hidden {
    transform: none;
    pointer-events: auto; /* Optional: Prevents interaction when hidden */
  }
}
