:root {
  --fontSize-XS: 13.5px;
  --lineHeight-XS: 16.2px;
  --letterSpacing-XS: 0.27px;

  --fontSize-S: 20px;
  --lineHeight-S: 25px;
  --letterSpacing-S: -0.5px;

  --fontSize-M: 34.425px;
  --lineHeight-M: 39px;
  --letterSpacing-M: -0.8px;

  --fontSize-L: 66.5px;
  --lineHeight-L: 75px;
  --letterSpacing-L: -2.45px;
  --wordSpacing-L: -6px;

  --space-S: 15px;
  --space-M: 30px;
  --space-L: 60px;
  --space-XL: 120px;

  --primary: #c4ff00;
  --grey: #6e6e6e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MJH-Regular";
  src: url("../../public/fonts/MJH-100-Regular.otf");
}

@font-face {
  font-family: "MJH-Medium";
  src: url("../../public/fonts/MJH-160-Medium.otf");
}

::selection {
  background: var(--primary);
  color: inherit;
}

html,
body {
  max-width: 100vw;
  font-family: "MJH-Medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: white;
  background: black;
  font-size: var(--fontSize-S);
  line-height: var(--lineHeight-S);
  letter-spacing: var(--letterSpacing-S);
  word-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  letter-spacing: var(--letterSpacing-L);
}

h2 {
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  letter-spacing: var(--letterSpacing-M);
}

.navWrapper {
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  letter-spacing: var(--letterSpacing-L);
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: var(--space-S);
  transition: transform 0.5s ease-in-out;
}

.navWrapper a {
  margin-right: var(--space-S);
  opacity: 0.4;
}

.navWrapper a:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.navWrapper.hidden {
  transform: translateY(-100%);
  pointer-events: none; /* Optional: Prevents interaction when hidden */
}

.navWrapper.visible {
  transform: translateY(0%);
}

.homeEntryWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.previewText {
  padding: var(--space-S);
}

.quadWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.quadInner {
  width: 50%;
  height: 50%;
  position: relative;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.videoWrapper:hover .videoInfos {
  opacity: 1;
}

.videoInfos {
  opacity: 0;
  position: absolute;
  z-index: 100;
  bottom: 0;
  padding: var(--space-S);
  transition: opacity 0.2s ease;
  cursor: default;
}

.videoInfos a {
  display: flex;
}

.videoTitle {
  cursor: pointer;
  height: 37px;
  display: flex;
  align-items: flex-start;
}

.videoTitle:hover {
  color: var(--primary);
}

.videoTitle:hover .videoIcon {
  background-color: var(--primary); /* Change this to your desired color */
}

.videoIcon {
  background: white;
  padding: 0px 20px;
  transform: translateY(2px);
  margin-left: 10px;
  border-radius: 30px;
  color: grey;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeLink {
  opacity: 1 !important;
}

.embedContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 (or adjust as needed) */
}

.embedContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.imageWrapper {
  width: 100%;
  height: 100%;
}

.imageWrapper img {
  position: relative;
}

.videoSingleWrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}

.videoSingleContent {
  background: white;
  color: var(--grey);
  margin-top: 100vh;
  width: 100vw;
  min-height: 500px;
  position: relative;
  padding: var(--space-M);
}

.videoSingleText {
  column-count: 2;
  column-span: none;
  text-indent: 4em;
}

.buttonsWrapper {
  display: flex;
  margin-bottom: var(--space-M);
}

.button {
  color: var(--grey);
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
  font-size: var(--fontSize-S);
  cursor: pointer;
}

.button:hover {
  background: var(--grey);
  color: white;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.active {
  background: var(--grey);
  color: white;
  pointer-events: none;
}

.footerWrapper {
  margin-top: var(--space-M);
  font-size: var(--fontSize-XS);
  line-height: var(--lineHeight-XS);
  letter-spacing: var(--letterSpacing-XS);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerWrapper span {
  margin-right: var(--space-S);
}

.infoWrapper {
  background: white;
  color: var(--grey);
  padding: var(--lineHeight-L) var(--space-S) var(--space-S);
  font-size: var(--fontSize-L);
  line-height: var(--lineHeight-L);
  letter-spacing: var(--letterSpacing-L);
  word-spacing: var(--wordSpacing-L);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personenWrapper {
  margin-top: var(--space-M);
  font-size: var(--fontSize-M);
  line-height: var(--lineHeight-M);
  letter-spacing: var(--letterSpacing-M);
  margin-bottom: var(--space-XL);
  word-spacing: -1.6px;
}

.personenWrapper li {
  margin-left: var(--space-L);
  list-style-type: none;
}

.personenWrapper ul {
  margin-bottom: var(--space-M);
}